fastapi==0.128.0
uvicorn==0.40.0
pydantic==2.12.5
python-multipart==0.0.21
gunicorn==23.0.0
numpy==1.26.4
reportlab==4.4.9
matplotlib==3.9.4
sqlalchemy==2.0.46
psycopg2-binary==2.9.10
python-json-logger==2.0.7
psutil==5.9.8
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
requests==2.31.0
